
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  font-family: "Vikings", sans-serif;
  font-size: 16px;
  //::-webkit-scrollbar {
  //  //display: none;
  //}
}


body {
  background-color: #010101;
  line-height: 1.55;
}