
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  font-family: "Hogwarts", sans-serif;
  font-size: 16px;
  //::-webkit-scrollbar {
  //  //display: none;
  //}
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #010101;
  line-height: 1.55;
}