@font-face {
  font-family: "Hogwarts";
  font-style: normal;
  font-weight: normal;
  src: local("Hogwarts.ttf"), url("../fonts/Hogwarts.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  font-family: "Hogwarts", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #010101;
  line-height: 1.55;
}

@keyframes effectRotate {
  0% {
    transform: rotate3d(0, 0, 0, 0) scale3d(1, 1, 1);
  }
  20% {
    transform: rotate3d(0, 0, 1, 100deg) scale3d(1.4, 1.4, 1.4);
  }
  40% {
    transform: rotate3d(0, 0, 1, 150deg) scale3d(1.2, 1.2, 1);
  }
  60% {
    transform: rotate3d(0, 0, 1, 200deg) scale3d(1, 1, 1);
  }
  80% {
    transform: rotate3d(0, 0, 1, 250deg) scale3d(1.5, 1.3, 1.3);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg) scale3d(1.2, 1.3, 1.3);
  }
}
@-webkit-keyframes effectRotate {
  0% {
    transform: rotate3d(0, 0, 0, 0) scale3d(1, 1, 1);
  }
  20% {
    transform: rotate3d(0, 0, 1, 100deg) scale3d(1.4, 1.4, 1.4);
  }
  40% {
    transform: rotate3d(0, 0, 1, 150deg) scale3d(1.2, 1.2, 1);
  }
  60% {
    transform: rotate3d(0, 0, 1, 200deg) scale3d(1, 1, 1);
  }
  80% {
    transform: rotate3d(0, 0, 1, 250deg) scale3d(1.5, 1.3, 1.3);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg) scale3d(1.2, 1.3, 1.3);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.6;
    transform: scale3d(1.02, 1.02, 1.02);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 0.6;
    transform: scale3d(1.02, 1.02, 1.02);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
main {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-earth {
  position: relative;
  width: 100%;
  height: 80px;
}

.earth {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 180px;
  background-image: url("../img/earth-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.about {
  background-image: url("../img/background-large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1000px;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 80px 40px rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.hero__container {
  position: relative;
}
.hero__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.hero__title {
  font-size: 24px;
  font-weight: 700;
  transition: color 0.15s cubic-bezier(0.1, 0.78, 0.83, 0.67);
}
@media (hover: none), (hover: on-demand) {
  .hero__title {
    pointer-events: none;
  }
}
.hero__title:hover {
  color: #D3BB89;
}
.hero__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.hero__list-item {
  transition: color 0.15s cubic-bezier(0.1, 0.78, 0.83, 0.67);
  font-size: 18px;
}
@media (hover: none), (hover: on-demand) {
  .hero__list-item {
    pointer-events: none;
  }
}
.hero__list-item:hover {
  color: #D3BB89;
}
.hero__contact-me {
  transition: color 0.15s cubic-bezier(0.1, 0.78, 0.83, 0.67);
}
@media (hover: none), (hover: on-demand) {
  .hero__contact-me {
    pointer-events: none;
  }
}
.hero__contact-me:hover {
  color: #D3BB89;
}

#sparkCanvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  max-width: 100vw;
  height: 100%;
  z-index: 3;
  will-change: transform;
  transition: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
}

.wrapper-base,
.wrapper-front-left,
.wrapper-front-right,
.wrapper-front-center {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  margin: auto;
  height: 250px;
  width: 700px;
  animation: pulse 5s infinite;
  transition: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
  transform: translate3d(0, calc(var(--scroll) / 7), 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/legacy-logo.png");
  z-index: 1;
}

.wrapper-base {
  background-image: url("../img/base-background.jpg");
  z-index: 1;
  transition: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
  transform: translate3d(0, calc(var(--scroll) / 1.5), 0);
}

.wrapper-front-left {
  background-image: url("../img/front-background-left.png");
  z-index: 2;
  transition: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
  transform: translate3d(calc(var(--scroll) / -9), calc(var(--scroll) / 5), 0);
}

.wrapper-front-right {
  background-image: url("../img/front-background-right.png");
  z-index: 2;
  transition: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
  transform: translate3d(calc(var(--scroll) / 12), calc(var(--scroll) / 4), 0);
}

.wrapper-front-center {
  background-image: url("../img/front-background-center.png");
  transition: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
  transform: translate3d(0, calc(var(--scroll) / 13), 0);
  z-index: 4;
}

.effects {
  position: absolute;
  top: 62%;
  left: 48%;
  z-index: 2;
  will-change: transform;
  transform: translate(-50%, -50%);
  animation: effectRotate 25s infinite linear alternate;
}

/*# sourceMappingURL=style.css.map */
