$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #A1A1A1;
$color-gray: #808080;
$color-light-gray: #c0c0c0;
$color-dark-gray: #808080;

$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;

$transition-parallax: transform 2s cubic-bezier(0.1, 0.5, 0, 1);
$transition-link: color 0.15s cubic-bezier(.1,.78,.83,.67);
